# Do not add to git repo too large files
Data/crypto-1min/btc-min1/neural_data_transformers/*
Strategies/wandb/*

# Ignore .env file containing credentials
.env

# Ignore the txt file in the io directory
io/*.txt