# Do not add to git repo too large files
Data/crypto-1min/btc-min1/neural_data_transformers/BTC-2018min_X.pt
Data/crypto-1min/btc-min1/neural_data_transformers/BTC-2018min_y.pt
Data/crypto-1min/btc-min1/neural_data_transformers/BTC-2019min_X.pt
Data/crypto-1min/btc-min1/neural_data_transformers/BTC-2019min_y.pt
Data/crypto-1min/btc-min1/neural_data_transformers/BTC-2020min_X.pt
Data/crypto-1min/btc-min1/neural_data_transformers/BTC-2020min_y.pt
Data/crypto-1min/btc-min1/neural_data_transformers/BTC-2021min_X.pt
Data/crypto-1min/btc-min1/neural_data_transformers/BTC-2021min_y.pt